body {
  margin-top: 0;
  
}

.logo {
  float:left;
  height: 10rem;
  width: 10rem;
  margin-top: .5rem;

}

nav {
  font-family: 'Roboto', sans-serif;
  clear: both;
  list-style:none;
  text-align: center;
  background-color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #D7E7B8;

}

nav li  {
  display:inline;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
   
}

nav li+li { 
  border-left: .5rem solid #D7E7B8;
  padding-top: .5rem;
  padding-bottom: .5rem;

}

nav a {
  display:inline-block;
  padding:.5rem;
} 

select {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.1rem;
  color: #333333;
    
}

h1 {
  font-family: 'Roboto', sans-serif;
  background-color: #523E33;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  color: #D7E7B8;
  padding: .5rem .5rem .5rem .5rem;
  border-radius: 2rem;
  margin-left: 10.3rem;
  margin-right: 1rem;
  margin-top: 3rem;
  text-indent: 7rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  background-color: #D7E7B8;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #523E33;
  padding: .5rem .5rem .5rem 1rem;
  border-radius: 2rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  background-color: #D7E7B8;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
  color: #523E33;
  padding: .5rem .5rem .5rem 1rem;
  border-radius: 2rem;
}


p {
  font-family: 'Lora', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: darkslategray;
  margin-left: 1rem;
  margin-right: 1rem;
}

header {
  width:100%;
  background-color: white;
  clear:both;
  float:left;
  position: fixed;
  opacity: .9;
}

article {
  width:50%;
  background-color:#FFFFFF;
  clear:both;
  float:left;
  margin: 14rem 0 0 2rem;
}

aside {
  width:35%;
  background-color:#FFFFFF;
  float:right;
  margin: 14rem 0 0 2rem;
}

li {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6rem;  
}


footer {
  font-family: 'Roboto', sans-serif;
  clear: both;
  color: #D6E8B8;
  left:.5rem;
  bottom:.5rem;
  width:100%;
  background-color: #523E33;
  border-radius: 2rem;
  text-indent: 3rem;
  opacity: .9;

}

a:link {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
}

a:visited {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
}

a:hover {
  color: #6B0000;
  text-decoration: underline;
  font-weight: 600;
}

.btn {
  background: #523E33;
  background-image: -webkit-linear-gradient(top, #523E33, #94877E);
  background-image: -moz-linear-gradient(top, #523E33, #94877E);
  background-image: -ms-linear-gradient(top, #523E33, #94877E);
  background-image: -o-linear-gradient(top, #523E33, #94877E);
  background-image: linear-gradient(to bottom, #523E33, #94877E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Roboto', sans-serif;
  color: #94C840;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 10;
}

.btn:hover {
  background: #D6E8B8;
  text-decoration: none;
}


